<% if @tweet.errors.present? %>
    <span style="color:red;">
        <h3>エラーがあります。</h3>
        <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </span>
<% end %>

<%= form_for @tweet, url: {action: :update} do |f| %>
    <p><%= f.label :message, 'ツイート' %>
    <%= f.text_field :message %></p>
    <p><%= f.label :file, '画像' %>
    <%= f.file_field :file %></p>
    <%= f.submit '更新' %>
<% end %>