<% if flash[:notice] %>
    <span style="color:green;">
        <%= flash[:notice] %>
    </span>
<% end %>
<div id="page">
    <div id="pageBody">
        <% @tweet.each do |e| %>
            <p> 
                <%= e.message %><br>
                <%= image_tag "/get_image/#{e.id}", width: '15%', height: '15%' %><br>
                <%= ((Time.current - e.tdate) / 60).to_i.to_s + "分前" %>
                <%= link_to '表示', "/tweets/#{e.id}" %> 
                <%= link_to '削除', "/tweets/#{e.id}", method: :delete %> 
                <%= link_to '編集', "/tweets/#{e.id}/edit" %> 
            </p> 
        <% end %>
    </div>
    <div id="pageSub">
        <ul>
            <li><i class="fas fa-home"></i>&emsp;ホーム</li><br>
            <li><i class="fas fa-hashtag"></i>&emsp;話題を検索</li><br>
            <li><i class="far fa-bell"></i>&emsp;通知</li><br>
            <li><i class="far fa-envelope"></i>&emsp;メッセージ</li><br>
            <li><i class="far fa-bookmark"></i>&emsp;ブックマーク</li><br>
            <li><i class="fas fa-bars"></i>&emsp;リスト</li><br>
            <li><i class="far fa-user"></i>&emsp;プロフィール</li><br>
            <li><i class="fas fa-ellipsis-h"></i>&emsp;もっと見る</li><br>
        </ul>
        <section>
            <%= link_to "ツイートする", '/tweets/new', class: 'btn btn-default' %>
        </section>
        </div>
    </div>

