<% if flash[:notice] %>
    <span style="color:green;">
        <%= flash[:notice] %>
    </span>
<% end %>
<div id="page">
    <div id="pageBody">
        <% @tweet.each do |e| %>
            <p> 
                @user名　　<%= e.tdate.strftime("%m/%d") %><br>
                <%= e.message %><br>
                <%= image_tag "/get_image/#{e.id}", width: '15%', height: '15%' %><br>
                <%= link_to '表示', "/tweets/#{e.id}" %> 
                <%= link_to '削除', "/tweets/#{e.id}", method: :delete %> 
                <%= link_to '編集', "/tweets/#{e.id}/edit" %><br>
                <i class="far fa-comment"></i>&emsp;<i class="fas fa-retweet"></i>&emsp;<i class="far fa-heart"></i>
            </p> 
        <% end %>
    </div>
    <div id="pageSub">
        <ul>
            <li><i class="fas fa-home"></i>&emsp;ホーム</li><br>
            <li><i class="fas fa-hashtag"></i>&emsp;話題を検索</li><br>
            <li><i class="far fa-bell"></i>&emsp;通知</li><br>
            <li><i class="far fa-envelope"></i>&emsp;メッセージ</li><br>
            <li><i class="far fa-bookmark"></i>&emsp;ブックマーク</li><br>
            <li><i class="fas fa-bars"></i>&emsp;リスト</li><br>
            <li><i class="far fa-user"></i>&emsp;プロフィール</li><br>
            <li><i class="fas fa-ellipsis-h"></i>&emsp;もっと見る</li><br>
        </ul>
        <section>
            <%= link_to "ツイートする", '/tweets/new', class: 'btn btn-default' %>
        </section>
        </div>
    </div>

